/* Main Navbar */
.navbar {
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* position: fixed; */
  /* top: 0; */
  /* z-index: 999; */
}

/* Navbar Logo Portion */
.navbar .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

/* Navbar Logo */
.navbar .navbar-brand img {
  width: 200px;
}

/* Navbar Website Name */
/* .navbar .navbar-brand .navbar-text {
  font-size: 2rem;
  letter-spacing: 2px;
  color: #160230;
  padding: 2px 10px;
  text-shadow: 1px 1px 2px rgb(255, 0, 98), 0 0 1em blue;
} */

/* Navbar List Items */
.navbar .nav-item {
  width: fit-content;
  text-decoration: none;
  margin: 5px 10px;
  font-size: 1.05rem;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% 100%;
  /*trasition effect for background*/
  transition: 0.5s;
  box-sizing: border-box;
  padding: 0.4em 1em;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(50, 163, 255);
}

/* Navbar List Items Hover Effect */
.navbar .nav-item:hover {
  background-position: 100% 100%;
  color: white;
}
